/*margin 15px*/
.mg5 {margin: 5px;}
.mgt5 {margin-top: 5px;}
.mgr5 {margin-right: 5px;}
.mgb5 {margin-bottom: 5px;}
.mgl5 {margin-left: 5px;}
/*margin 15px*/
.mg10 {margin: 10px;}
.mgt10 {margin-top: 10px;}
.mgr10 {margin-right: 10px;}
.mgb10 {margin-bottom: 10px;}
.mgl10 {margin-left: 10px;}
/*margin 15px*/
.mg15 {margin: 15px;}
.mgt15 {margin-top: 15px;}
.mgr15 {margin-right: 15px;}
.mgb15 {margin-bottom: 15px;}
.mgl15 {margin-left: 15px;}
/*padding 5px*/
.pd5 {padding: 5px;}
.pdt5 {padding-top: 5px;}
.pdr5 {padding-right: 5px;}
.pdb5 {padding-bottom: 5px;}
.pdl5 {padding-left: 5px;}
/*padding 10xp*/
.pd10 {padding: 10px;}
.pdt10 {padding-top: 10px;}
.pdr10 {padding-right: 10px;}
.pdb10 {padding-bottom: 10px;}
.pdl10 {padding-left: 10px;}
/*padding 15px*/
.pd15 {padding: 15px;}
.pdt15 {padding-top: 15px;}
.pdr15 {padding-right: 15px;}
.pdb15 {padding-bottom: 15px;}
.pdl15 {padding-left: 15px;}
/*padding 45px*/
.pd45 {padding: 45px;}
.pdt45 {padding-top: 45px;}
.pdr45 {padding-right: 45px;}
.pdb45 {padding-bottom: 45px;}
.pdl45 {padding-left: 45px;}
/*边框样式*/
.no-bdr{border: 0 !important;}
.bdr{border: 1px solid;}
.bdrt{border-top: 1px solid;}
.bdrr{border-right: 1px solid;}
.bdrb{border-bottom: 1px solid;}
.bdrl{border-left: 1px solid;}
.bdr-r3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.bdr-r5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.bdr-r10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.bdr-ra{-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
/*字体样式*/
.ft12{font-size: 12px;}
.ft13{font-size: 13px;}
.ft14{font-size: 14px;}
.ft16{font-size: 16px;}
.ft18{font-size: 18px;}
.ft22{font-size: 22px;}
.fb{font-weight: bold;}
.fn{font-weight: normal;}
/*文本对齐*/
.ta-c{text-align: center;}
.ta-l{text-align: left;}
.ta-r{text-align: right;}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
/*宽度*/
.w100{width: 100%;}
/*高度*/
.h100{height: 100%;}
/*位置*/
.pr{position: relative;}
.pa{position: absolute;}
.ps{position: static;}
.pf{position: fixed;}
/*行内元素*/
.d-inline-block {display: inline-block;}
.v-m {vertical-align: middle;}
.v-t {vertical-align: top;}
/*鼠标手势*/
.cursor-pointer {cursor: pointer;}
.cursor-move {cursor: move;}
/*去除阴影*/
.box-shadow-none {box-shadow: none;-webkit-box-shadow: none;}
/*初始化overflow*/
.overflow-normal {overflow: visible;}
.resize-none{resize: none;}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.clearfix {
    zoom:1;
}
.disIn {
    display: inline-block;
}