.home-main {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    overflow: auto;
}

.home-phone-main {
    width: 100%;
    height: 100%;
}

.search-item {
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
}

.home-pc-main {
    width: 100%;
    height: 100%;
}

.search-title {
    width: 80px;
    text-align: left;
    line-height: 30px;
    float: left;
}

.search-body {
    width: calc(100% - 80px);
    float: left;
    line-height: 30px;
}

.search-b-item {
    padding: 0 5px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}

.search-b-item.choose {
    background-color: #0ea0e8;
    color: #fff;
}

.search-body2 {
    width: calc(100% - 120px);
    float: left;
    line-height: 30px;
    height: 35px;
    overflow: hidden;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.search-body2.showAll {
    height: 350px;
}

.search-body2.showAll1 {
    height: 385px;
}

.search-body2.showAll2 {
    height: 280px;
}

.search-body2.showAll3 {
    height: 280px;
}

.search-body2.showAll4 {
    height: 210px;
}

.search-body2.showAll5 {
    height: 140px;
}

.search-body2.showAll6 {
    height: 140px;
}

.search-body2.showAll7 {
    height: 210px;
}

.search-body2.showAll8 {
    height: 175px;
}

.search-body2.showAll9 {
    height: 490px;
}

.search-body2.showAll10 {
    height: 140px;
}

.search-icon {
    width: 100px;
    height: 20px;
    position: fixed;
    right: -25px;
    top: 15px;
    color: #fff;
    font-size: 20px;
}

.reset-icon {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    top: -3px;
    right: 7px;
}

.search-body-i {
    width: 40px;
    line-height: 30px;
    float: left;
    text-align: center;
}

.search-b2-item {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.pc-search-b2-item {
    width: 200px;
    float: left;
    margin-bottom: 5px;
    height: 30px;
}

.s-b2-t {
    width: 80px;
    text-align: center;
    float: left;
    font-weight: normal;
}

.s-b2-body {
    width: calc(100% - 80px);
    float: left;
    height: 30px;
    overflow: hidden;
}

.s-b2-body input[type="text"] {
    height: 28px;
    line-height: 28px;
    width: 100%;
}

.phone-ul {
    width: 100%;
    padding-bottom: 10px;
    margin: 0 !important;
}

.phone-ul li {
    padding: 5px 0;
}

.p-l-box .phone-ul:nth-child(2n+1) {
    background-color: #fff;
}

.list-div-phone {
    line-height: 30px;
    padding: 0 20px;
}

.list-div-phone2 {
    line-height: 30px;
    padding: 0 20px;
}

.list-div-phone2 span:nth-child(1) {
    margin-right: 10px;
}

.list-div-phone span:nth-child(1) {
    float: left;
    margin-right: 10px;
}

.list-div-phone span:nth-child(2) {
    float: left;
    margin-right: 10px;
}

.list-div-phone span:nth-child(3) {
    float: left;
}

.list-div-phone span:nth-child(4) {
    float: right;
    color: #ff2f3e;
}

.list-div-phone3 {
    line-height: 30px;
    padding: 0 20px;
}

.list-div-phone3 .span-title:nth-child(1) {
    margin-right: 10px;
    float: left;
}

.list-div-phone3 .item-box {
    width: calc(100% - 50px);
    float: right;
}

.list-div-phone3 .item-span {
    color: #fff;
    background: #0ea0e8;
    padding: 0 5px;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 5px 5px 0;
}

.list-div-phone4 {
    line-height: 30px;
    padding: 0 20px;
}

.list-div-phone4 a {
    float: right;
    background-color: #0ea0e8;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.loading-more {
    text-align: center;
    line-height: 30px;
    background-color: #bbb;
    color: #fff;
}

.empty-res {
    text-align: center;
    line-height: 100px;
}

.pc-main {
    width: 910px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: #fff;
}

.pc-home-item {
    line-height: 30px;
    padding: 5px 10px;
}

.pc-home-title {
    width: 80px;
    float: left;
}

.pc-home-body {
    width: calc(100% - 80px);
    float: left;
}

.pc-body {
    width: 100%;
    padding: 0 5px;
    margin-top: 20px;
}

.pc-table-head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 0 !important;
}

.pc-table-head li {
    line-height: 30px;
    border-right: 1px solid #ccc;
    float: left;
    text-align: center;
}

.pc-table-head li:last-child {
    border-right: 0;
}

.pc-table-body {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 0 !important;
}

.pc-table-body li {
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}

.pc-list-span {
    width: 100%;
    line-height: 30px;
    display: inline-block;
}

.item-span-pc {
    line-height: 20px;
    padding: 5px 0;
    float: none;
    text-align: center;
    height: 30px;
}

.item-span-pc span {
    background-color: #0ea0e8;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    height: 20px;
    color: #fff;
    display: inline-block;
}

.pc-footer {
    text-align: center;
    width: 100%;
}

.empty-search {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}