body {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}

.main-body{
    width: 100%;
    height: 100%;
    line-height: 500px;
    text-align: center;
    font-size: 30px;
    color: #aaa;
}

.ie-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.body-div {
    width: 100%;
    height: 100% !important;
    display: none;
}

.header {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #0ea0e8;
    color: #FFF;
    line-height: 50px;
}

.header .h-icon-box{
    width: 220px;
    padding-left: 25px;
    line-height: 50px;
    font-size: 16px;
    float: left;
}

.header .h-icon-box span:nth-child(1){
    display: inline-block;
    margin-right: 10px;
}

.header .h-btn-box{
    width: 100px;
    float: right;
    padding-right: 20px;
}

.header .h-btn-box button{
    width: 80px;
    height: 30px;
    border-radius: 3px;
    border: 0;
    margin: 10px 0;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #2bce7b;
}

.main-view {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

.footer{
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    color: #999;
}

.header-main {
    width: 100%;
    height: 100%;
}

.header-logo {
    width: 250px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    float: left;
    padding: 0 15px 0 35px;
}

.header-content {
    width: calc(100% - 250px);
    height: 100%;
    line-height: 50px;
    float: left;
}

.header-menu-box {
    height: 100%;
}

.header-menu-li {
    width: 80px;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    margin: 0 15px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.header-menu-li.choose {
    background-color: #ca5175;
}