.page1 {
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    text-align: center;
    background-color: #6FCDD5 !important;
    color: #fff;
}

.page1 span {
    font-size: 25px;
    display: inline-block;
    width: calc(100% - 100px);
    margin: 0 auto;
    margin-top: 200px;
}

.

@keyframes showpage {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    30% {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    80% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    80% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes showpage {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    30% {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    80% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    80% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.page-animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-name: showpage;
    -webkit-animation-name: showpage;
}

.page2-box {
    background-color: #95dcaa !important;
}

.page2 {
    width: calc(100% - 60px);
    height: calc(100% - 250px);
    margin: 0 30px;
    margin-top: 20px;
}

.page2 span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
}

.page3-box {
    background-color: #6FCDD5 !important;
}

.page3 {
    width: calc(100% - 60px);
    height: calc(100% - 250px);
    margin: 0 30px;
    margin-top: 20px;
}

.page3 span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
}

.page4 {
    width: calc(100% - 60px);
    height: calc(100% - 250px);
    margin: 0 30px;
    margin-top: 80px;
}

.page4 span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
}

.page4-box {
    background-color: #95dcaa !important;
}