<div class="w100 h100">
    <div class="h-icon-box">
        <span>天下3</span>
        <span>藏宝阁高级搜索</span>
    </div>
    <div class="h-btn-box" ng-if="$root.hasLink">
        <button ng-click="goHome($event)">立即进入</button>
    </div>
</div>