<div class="w100 h100 home-main">
    <div class="visible-xs visible-sm hidden-md hidden-lg">
        <div class="search-icon">
            <span class="reset-icon" ng-click="fn.reset($event)">重置</span>
            <i class="glyphicon glyphicon-search" ng-click="fn.search($event,'click')"></i>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">门派:</span>
            <div class="search-body clearfix">
                <span class="search-b-item" ng-repeat="item in ::homeData.schoolData"
                      ng-click="fn.chooseSchool($event, item)"
                      ng-class="{'choose':item.checked}">
                    {{::item.name}}
                </span>
            </div>
        </div>
        <div class="search-item">
            <span class="search-title">基础属性</span>
            <div class="search-body2" ng-class="{'showAll':homeData.isShowBase}">
                <div class="search-b2-item">
                    <div class="s-b2-t">修为&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.xiuwei" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">装评&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.equXiuwei" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">生命值&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.mhp" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">技力值&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.msp" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">敏&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.quick" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">力&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.strong" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">魂&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.soul" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">念&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.mind" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">疾&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.dodge" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">体&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.body" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowBase($event)"
                   ng-if="homeData.isShowBase"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowBase($event)"
                   ng-if="!homeData.isShowBase"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">攻击属性</span>
            <div class="search-body2" ng-class="{'showAll2':homeData.isShowTouch}">
                <div class="search-b2-item">
                    <div class="s-b2-t">命中&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.hit" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">重击&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.modadd" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">会心&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.critical" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">附伤&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.attadd" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">最大物攻&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.pattackMax" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">最小物攻&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.pattackMin" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">最大法攻&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.mattackMax" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">最小法攻&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.mattackMin" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowTouch($event)"
                   ng-if="homeData.isShowTouch"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowTouch($event)"
                   ng-if="!homeData.isShowTouch"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">防御属性</span>
            <div class="search-body2" ng-class="{'showAll3':homeData.isShowDefense}">
                <div class="search-b2-item">
                    <div class="s-b2-t">回避&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.avoid" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">物防&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.pdef" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">法防&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.mdef" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">神明&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.inprotect" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">化解&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.attdef" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">身法&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.sract" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">定力&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.srmind" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">坚韧&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.srbody" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowDefense($event)"
                   ng-if="homeData.isShowDefense"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowDefense($event)"
                   ng-if="!homeData.isShowDefense"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">高级属性</span>
            <div class="search-body2" ng-class="{'showAll1':homeData.isShowSenior}">
                <div class="search-b2-item">
                    <div class="s-b2-t">追电&ge;</div>
                    <div class="s-b2-body">
                        <input type="text" ng-model="valueData.movespeed" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">骤雨&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.attackspeed" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">疾语&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.castspeed" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">人祸&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.attackhuman" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">知彼&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.defhuman" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">诛心&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.criAddP" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">御心&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.criSubP" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">万钧&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.thumpAddP" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">铁壁&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.thumpSubP" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">(大-小)攻&le;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.xiaogong" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">(大-小)法&le;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.xiaofa" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowSenior($event)"
                   ng-if="homeData.isShowSenior"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowSenior($event)"
                   ng-if="!homeData.isShowSenior"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">加护属性</span>
            <div class="search-body2" ng-class="{'showAll4':homeData.isShowIncase}">
                <div class="search-b2-item">
                    <div class="s-b2-t">等级&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.lvmin" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">等级&le;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.lvmax" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">价钱&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.pricemin" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">价钱&le;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.pricemax" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">加护&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.jiahu" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">炼护&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.lianhu" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowIncase($event)"
                   ng-if="homeData.isShowIncase"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowIncase($event)"
                   ng-if="!homeData.isShowIncase"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">孩子属性</span>
            <div class="search-body2" ng-class="{'showAll5':homeData.isShowChildren}">
                <div class="search-b2-item">
                    <label class="s-b2-t">孩子天域</label>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.haiziTianyu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">孩子等级&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.haiziLv" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">孩子资质&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.haiziZizhi" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">孩子武学&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.haiziWuxue" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowChildren($event)"
                   ng-if="homeData.isShowChildren"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowChildren($event)"
                   ng-if="!homeData.isShowChildren"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">觉醒属性</span>
            <div class="search-body2" ng-class="{'showAll6':homeData.isShowAwaken}">
                <div class="search-b2-item">
                    <div class="s-b2-t">觉醒等级&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.awakeLv" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">封禁之力&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.releaseLv" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">觉醒度&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.awakeValue" class="form-control">
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">溟禅值&ge;</div>
                    <div class="s-b2-body">
                        <input type="number" ng-model="valueData.minglian" class="form-control">
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowAwaken($event)"
                   ng-if="homeData.isShowAwaken"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowAwaken($event)"
                   ng-if="!homeData.isShowAwaken"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">特技属性</span>
            <div class="search-body2" ng-class="{'showAll7':homeData.isShowTrick}">
                <div class="search-b2-item">
                    <div class="s-b2-t">护心</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.huxin">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">完封</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.wanfeng">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">火元防护</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.huoyuanfanghu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">水风毒防护</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.shuifengdufanghu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">挥砍防护</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.huikanfanghu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">钝刺防护</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.duncifanghu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowTrick($event)"
                   ng-if="homeData.isShowTrick"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowTrick($event)"
                   ng-if="!homeData.isShowTrick"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">元魂珠</span>
            <div class="search-body2" ng-class="{'showAll8':homeData.isShowEle}">
                <div class="search-b2-item">
                    <div class="s-b2-t">马王爷</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.mawangye">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">喜气洋洋</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.xiyangyang">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">万胜天尊</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.wanshengtianzun">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">业火</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.yehuo">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">毒浪鬼</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.dulanggui">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowEle($event)"
                   ng-if="homeData.isShowEle"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowEle($event)"
                   ng-if="!homeData.isShowEle"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">时装</span>
            <div class="search-body2" ng-class="{'showAll9':homeData.isShowDress}">
                <div class="search-b2-item">
                    <div class="s-b2-t">玄素天成</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.xuansu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">黛染青花</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.qinghua">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">孤鸿月影</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.guhong">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">海棠未雨</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.haitang">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">岸芷汀兰</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.tinglan">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">绛云思暖</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.xiangyun">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">飞狐华裘</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.feihuhuaqiu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">天狐霓裳</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.tianhulishang">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">仙狐彩袂</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.xianhucaijue">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">沧海桑田</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.canghaisangtian">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">夜雨江南</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.yeyujiangnan">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">碧海惊涛</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.bihai">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">鹰击长空</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" value="valueData.changkong">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">蟾宫折桂</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.changong">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowDress($event)"
                   ng-if="homeData.isShowDress"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowDress($event)"
                   ng-if="!homeData.isShowDress"></i>
            </div>
        </div>
        <div class="search-item clearfix">
            <span class="search-title">其他</span>
            <div class="search-body2" ng-class="{'showAll10':homeData.isShowOther}">
                <div class="search-b2-item">
                    <div class="s-b2-t">太初</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.taichu">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">势力副手</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.shilifushou">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">门派轻功</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.ligntMenpai">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-b2-item">
                    <div class="s-b2-t">VIP9</div>
                    <div class="s-b2-body">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox" ng-model="valueData.vip9">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-body-i">
                <i class="glyphicon glyphicon-chevron-up" ng-click="fn.changeShowOther($event)"
                   ng-if="homeData.isShowOther"></i>
                <i class="glyphicon glyphicon-chevron-down" ng-click="fn.changeShowOther($event)"
                   ng-if="!homeData.isShowOther"></i>
            </div>
        </div>
        <div class="w100 h100 p-l-box">
            <ul class="phone-ul" ng-if="resList.length > 0" ng-repeat="item in resList">
                <li>
                    <div class="list-div-phone clearfix">
                        <span ng-bind="item.name"></span>
                        <span>{{'LV. '+item.lv}}</span>
                        <span>{{homeData.schoolMap[item.sch]}}</span>
                        <span>{{item.price | currency}}</span>
                    </div>
                    <div class="list-div-phone2">
                        <span>装评:{{item.equXiuwei}}</span>
                        <span>修为:{{item.xiuwei}}</span>
                    </div>
                    <div class="list-div-phone2">
                        <span>加护:{{item.jiahu}}</span>
                        <span>炼护:{{item.lianhu}}</span>
                    </div>
                    <div class="list-div-phone3 clearfix">
                        <span class="span-title">特技:</span>
                        <div class="item-box">
                            <span class="item-span" ng-repeat="child in item.teji.split(';') track by $index"
                                  ng-if="item.teji && item.teji.split(';').length > 0 && $index != item.teji.split(';').length - 1"
                                  ng-bind="child"></span>
                        </div>
                        <span ng-if="!item.teji || item.teji.split(';').length == 0">无</span>
                    </div>
                    <div class="list-div-phone3 clearfix">
                        <span class="span-title">时装:</span>
                        <div class="item-box">
                            <span class="item-span" ng-repeat="child in item.shizhuang.split(';') track by $index"
                                  ng-if="item.shizhuang && item.shizhuang.split(';').length > 0 && $index != item.shizhuang.split(';').length - 1"
                                  ng-bind="child"></span>
                        </div>
                        <span ng-if="!item.shizhuang || item.shizhuang.split(';').length == 0">无</span>
                    </div>
                    <div class="list-div-phone4 clearfix">
                        <a target="_blank" ng-href="{{item.url}}">进入藏宝阁</a>
                    </div>
                </li>
            </ul>
            <ul class="empty-res" ng-if="isSearch && resList.length == 0">
                没有对应的搜索结果
            </ul>
        </div>
        <div ng-if="hasNext" ng-click="fn.search($event)" class="loading-more">加载更多..</div>
    </div>
    <div class="visible-md visible-lg hidden-xs hidden-sm w100 h100">
        <div class="pc-main">
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">门派:</span>
                <div class="pc-home-body">
                    <span class="search-b-item" ng-repeat="item in ::homeData.schoolData"
                          ng-click="fn.chooseSchool($event, item)"
                          ng-class="{'choose':item.checked}">
                    {{::item.name}}
                </span>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">基础属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">修为&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.xiuwei" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">装评&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.equXiuwei" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">生命值&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.mhp" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">技力值&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.msp" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">敏&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.quick" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">力&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.strong" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">魂&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.soul" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">念&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.mind" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">疾&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.dodge" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">体&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.body" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">攻击属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">命中&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.hit" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">重击&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.modadd" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">会心&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.critical" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">附伤&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.attadd" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">最大物攻&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.pattackMax" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">最小物攻&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.pattackMin" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">最大法攻&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.mattackMax" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">最小法攻&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.mattackMin" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">防御属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">回避&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.avoid" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">物防&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.pdef" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">法防&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.mdef" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">神明&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.inprotect" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">化解&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.attdef" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">身法&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.sract" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">定力&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.srmind" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">坚韧&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.srbody" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">高级属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">追电&ge;</div>
                        <div class="s-b2-body">
                            <input type="text" ng-model="valueData.movespeed" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">骤雨&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.attackspeed" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">疾语&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.castspeed" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">人祸&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.attackhuman" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">知彼&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.defhuman" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">诛心&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.criAddP" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">御心&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.criSubP" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">万钧&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.thumpAddP" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">铁壁&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.thumpSubP" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">(大-小)攻&le;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.xiaogong" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">(大-小)法&le;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.xiaofa" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">加护属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">等级&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.lvmin" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">等级&le;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.lvmax" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">价钱&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.pricemin" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">价钱&le;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.pricemax" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">加护&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.jiahu" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">炼护&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.lianhu" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">孩子属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <label class="s-b2-t">孩子天域</label>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.haiziTianyu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">孩子等级&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.haiziLv" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">孩子资质&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.haiziZizhi" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">孩子武学&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.haiziWuxue" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">觉醒属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">觉醒等级&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.awakeLv" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">封禁之力&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.releaseLv" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">觉醒度&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.awakeValue" class="form-control">
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">溟禅值&ge;</div>
                        <div class="s-b2-body">
                            <input type="number" ng-model="valueData.minglian" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">特技属性</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">护心</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.huxin">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">完封</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.wanfeng">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">火元防护</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.huoyuanfanghu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">水风毒防护</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.shuifengdufanghu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">挥砍防护</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.huikanfanghu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">钝刺防护</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.duncifanghu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">元魂珠</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">马王爷</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.mawangye">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">喜气洋洋</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.xiyangyang">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">万胜天尊</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.wanshengtianzun">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">业火</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.yehuo">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">毒浪鬼</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.dulanggui">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">时装</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">玄素天成</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.xuansu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">黛染青花</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.qinghua">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">孤鸿月影</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.guhong">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">海棠未雨</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.haitang">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">岸芷汀兰</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.tinglan">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">绛云思暖</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.xiangyun">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">飞狐华裘</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.feihuhuaqiu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">天狐霓裳</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.tianhulishang">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">仙狐彩袂</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.xianhucaijue">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">沧海桑田</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.canghaisangtian">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">夜雨江南</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.yeyujiangnan">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">碧海惊涛</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.bihai">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">鹰击长空</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" value="valueData.changkong">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">蟾宫折桂</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.changong">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-home-item clearfix">
                <span class="pc-home-title">其他</span>
                <div class="pc-home-body">
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">太初</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.taichu">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">势力副手</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.shilifushou">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">门派轻功</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.ligntMenpai">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pc-search-b2-item">
                        <div class="s-b2-t">VIP9</div>
                        <div class="s-b2-body">
                            <div class="checkbox checkbox-slider--b">
                                <label>
                                    <input type="checkbox" ng-model="valueData.vip9">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-warning" ng-click="fn.reset($event)" style="margin-right:20px;">重置</button>
                <button class="btn btn-info" ng-click="fn.searchPc($event, 'click')">查询</button>
            </div>
            <div class="pc-body">
                <ul class="pc-table-head clearfix" ng-if="isSearch">
                    <li class="w5">等级</li>
                    <li class="w10">门派</li>
                    <li class="w15">名字</li>
                    <li class="w10">装评</li>
                    <li class="w10">加护</li>
                    <li class="w15">特技</li>
                    <li class="w15">时装</li>
                    <li class="w10">价格</li>
                    <li class="w10">操作</li>
                </ul>
                <ul class="pc-table-body clearfix" ng-if="isSearch && resList.length > 0" ng-repeat="item in resList"
                    ng-init="TH = (item.teji && item.teji.split(';').length > 2)?(item.teji.split(';').length):(2);TS = (item.shizhuang && item.shizhuang.split(';').length > 2)?(item.shizhuang.split(';').length):(2)">
                    <li class="w5"
                        ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        {{'LV. '+item.lv}}
                    </li>
                    <li class="w10"
                        ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}"
                    >{{homeData.schoolMap[item.sch]}}
                    </li>
                    <li class="w15"
                        ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}"
                    >{{item.name}}
                    </li>
                    <li class="w10"
                        style="min-height: 60px"
                        ng-style="{'height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        <span class="pc-list-span">装评:{{item.equXiuwei}}</span>
                        <span class="pc-list-span">修为:{{item.xiuwei}}</span>
                    </li>
                    <li class="w10"
                        ng-style="{'height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        <span class="pc-list-span">加护:{{item.jiahu}}</span>
                        <span class="pc-list-span">炼护:{{item.lianhu}}</span>
                    </li>
                    <li class="w15"
                        ng-style="{'height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        <div class="item-box">
                            <div class="item-span-pc" ng-repeat="child in item.teji.split(';') track by $index"
                                 ng-if="item.teji && item.teji.split(';').length > 0 && $index != item.teji.split(';').length - 1">
                                <span ng-bind="child"></span>
                            </div>
                        </div>
                        <span ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}"
                              ng-if="!item.teji || item.teji.split(';').length == 0">无</span>
                    </li>
                    <li class="w15"
                        ng-style="{'height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        <div class="item-box">
                            <div class="item-span-pc" ng-repeat="child in item.shizhuang.split(';') track by $index"
                                 ng-if="item.shizhuang && item.shizhuang.split(';').length > 0 && $index != item.shizhuang.split(';').length - 1">
                                <span ng-bind="child"></span>
                            </div>
                        </div>
                        <span ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}"
                              ng-if="!item.shizhuang || item.shizhuang.split(';').length == 0">无</span>
                    </li>
                    <li class="w10"
                        ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}"
                    >{{item.price | currency}}
                    </li>
                    <li class="w10"
                        ng-style="{'line-height': ((TH > TS)?((TH * 30) + 'PX'):((TS)?((TS*30) + 'px'):((TH)?((TH * 30)+ 'px'):('60px'))))}">
                        <a target="_blank" ng-href="{{item.url}}">进入藏宝阁</a>
                    </li>
                </ul>
                <ul class="empty-search" ng-if="isSearch && resList.length == 0">
                    没有对应的搜索结果
                </ul>
                <div class="disIn pc-footer" ng-if="isSearch && totalItem > 1">
                    <uib-pagination total-items="total"
                                    ng-model="valueData.pageNo"
                                    ng-change="fn.changePage()"
                                    max-size="5"
                                    class="pagination-sm"
                                    boundary-link-numbers="true"
                                    force-ellipses="true"
                                    previous-text="<"
                                    items-per-page="10"
                                    class="page-select-panel"
                                    next-text=">">
                    </uib-pagination>
                    <div class="page-return-box">
                        <span class="return-label">跳至</span>
                        <input type="number" class="return-in"
                               ng-model="pageInput">
                        <span class="return-label">页</span>
                        <button class="return-btn" ng-click="fn.checkPage($event,pageInput)">跳转</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>