<div class="w100 h100">
    <div id="fullpage">
        <div class="section page1">
            <div class="w100 h100">
                <span id="page1">
                还在为找不到匹配的角色而烦扰
                </span>
            </div>
        </div>
        <div class="section page2-box">
            <div class="page2" id="page2">
                <span>赶紧进入藏宝阁高级搜索</span>
                <span>这里有丰富的匹配条件</span>
                <span>包你找到心仪的角色</span>
            </div>
        </div>
        <div class="section page3-box">
            <div id="page3" class="page3">
                <span>目前功能尚不完善</span>
                <span>需要一个UI来帮我们出出设计</span>
                <span>如果对我们这个小程序感兴趣</span>
                <span>欢迎加入(QQ群:598451215)</span>
            </div>
        </div>
        <div class="section page4-box">
            <div class="page4" id="page4">
                <span>敬请期待...</span>
            </div>
        </div>
    </div>
</div>
